
.container1 {
    background-color: #e6eefd;
    padding-top: 200px;
    padding-bottom: 150px;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
    width: 100%;
    margin: auto;
  }
  .container11 {
    width: 50%;
    padding-top: 40px;
    text-align: right;
    padding-bottom: 30px;
  }
  .container12 {
    width: 65%;
    text-align: left;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    margin: auto;
    margin-left: 40px;
  }
  .Sandeeptext {
    color: #0e4ecf;
  }
  .profile {
    width: 60%;
    padding: 0px;
    border-radius: 100%;
    border: 15px solid #fff;
    cursor: pointer;
    transition: border 1s;
  }
  .profile:hover {
    border: 20px solid #1b62ee;
  }
  .webtext {
    color: #3c6bc9;
  }
  .webtext a {
    text-decoration: none;
  }
  .webtext:hover {
    color: #0e4ecf;
    cursor: pointer;
  }

  .frontend span:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px #1b62ee;
    font-size: 70px;
    background: url(/images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    background-color: #1b62ee;
    animation: back 20s linear infinite;
  }

  @keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }
  .button1 {
    border-radius: 20px;
    background-color: #0e4ecf;
    padding: 12px;
    color: white;
    border: none;
    margin: 6px;
    text-align: center;
    /* -webkit-transition-duration: 0.4s; */
    cursor: pointer;
    transition: color 1.5s;
  }
  .button2 {
    border-radius: 20px;
    background-color: white;
    padding: 12px;
    color: #0e4ecf;
    border: none;
    margin: 6px;
    text-align: center;
    /* -webkit-transition-duration: 0.4s; */
    transition: color 1.5s;
    cursor: pointer;
  }
  .button1:hover {
    background-color: white;
    color: #0e4ecf;
    /* border: 2px solid #3c6bc9; */
  }

  .button2:hover {
    background-color: #0e4ecf;
    /* border: 2px solid white; */
    color: white;
  }
  .button2:hover::after {
    content: " @ sandeepsharma2183@gmail.com";
  }
  .social-media {
    list-style-type: none;
    display: flex;
    width: 50%;
    text-decoration: none;
    /* box-sizing: border-box; */
    margin: 10px;
    padding: 5px;
  }

  .social-media li a {
    padding-right: 40px;
  }

  /* about section   */

  .sandeepabouttext {
    color: #0e4ecf;
  }



