  body {
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: #f0f5ff;
  font-family: "Helvetica Neue", "Open Sans", "Biotif-Regular", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}


.main-nav {
  width: 100%;
  display: flex;
  border-radius: 8px;
  background-color: #e6eefd;
  margin-bottom: 7px;
}
.logo {
  display: inline-block;
  /* padding-left: 20px; */
  width: 30%;
  margin-left: 15px;
}

.nav1, .nav2, .nav3 {
  width: 100%;
  margin: auto;
  padding: 15px;
}
.nav1 {
  width: fit-content;
  margin: 10px;
  text-align: left;
}
.nav2 {
  text-align: left;
  width: 80%;
  color: #000000;
  /* font-weight: bold; */
}

.nav3 {
  gap: 30px;
  display: flex;
  font-size: 14px;
  /* background-color:#E6EEFD; */
}

.nav3 div a {
  text-decoration: none;
}


.dark_mode{
  width: 20%;
}
.dark_mode img{
  width: 12%;
}






.nav-link{
  margin-right: 5px;

}

.container1 {
  background-color: #e6eefd;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 5px;
  border-radius: 8px;
  display: flex;
  width: 100%;
  margin: auto;
}
.container11 {
  width: 50%;
  padding-top: 40px;
  text-align: right;
  padding-bottom: 30px;
}
.container12 {
  width: 65%;
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
  margin: auto;
  margin-left: 40px;
}
.Sandeeptext {
  color: #3c6bc9;
}
.profile {
  width: 60%;
  padding: 0px;
  border-radius: 100%;
  border: 15px solid #ffffff;
  cursor: pointer;
}
.profile:hover {
  background-color: rgb(119, 176, 217);
  border-color: rgb(17, 170, 173);
}
.webtext {
  color: #3c6bc9;
}
.webtext a {
  text-decoration: none;
}
.webtext:hover {
  color: #1b62ee;
  cursor: pointer;
}

.frontend span:nth-child(2){
  color: transparent;
  -webkit-text-stroke: 1px #1b62ee;
  font-size: 70px;
  background: url(/images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.button1 {
  border-radius: 20px;
  background-color: #3c6bc9;
  padding: 12px;
  color: white;
  border: none;
  margin: 6px;
  text-align: center;
  /* -webkit-transition-duration: 0.4s; */
  cursor: pointer;
}
.button2 {
  border-radius: 20px;
  background-color: white;
  padding: 12px;
  color: #3c6bc9;
  border: none;
  margin: 6px;
  text-align: center;
  /* -webkit-transition-duration: 0.4s; */
  cursor: pointer;
}
.button1:hover {
  background-color: white;
  color: #3c6bc9;
  /* border: 2px solid #3c6bc9; */
}
.button1:hover::after {
  content: " Coming soon";
  color: red;
}
.button2:hover {
  background-color: #3c6bc9;
  /* border: 2px solid white; */
  color: white;
}
.button2:hover::after {
  content: " @ sandeepsharma2183@gmail.com";
}
.social-media {
  list-style-type: none;
  display: flex;
  width: 50%;
  text-decoration: none;
  /* box-sizing: border-box; */
  margin: 10px;
  padding: 5px;
}

.social-media li a {
  padding-right: 40px;
}

/* about section   */

.sandeepabouttext {
  color: #3c6bc9;
}
.about{
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.imgpic2 {
  text-align: center;
   width: 50%;
  padding: 20px;
  cursor: pointer;
}
.profilepic2 {

  width: 50%;
  border-radius: 100%;

}
.about2 {
  align-items: right;
  padding-top: 20px;
  background-color: #D8E5FE;
  width: 50%;
  padding: 3%;
  border-radius: 20px;
}


.sign {
  width: 60px;
}
.about_button_1{
  border: none;
  border-radius: 20px;
  padding: 12px;
  margin: 2px;
  background-color: #3c6bc9;
  color: white;
}
.about_button_2{
  border: none;
  border-radius: 20px;
  padding: 12px;
  margin: 2px;
  background-color: #3c6bc9;
  color: white;
}




.projecttext {
  text-align: center;
}
.skills {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 130px;
  padding-top: 80px;
  width: 100%;
  background-color: #e6eefd;
  border-radius: 8px;

}
.skills1 {
  display: flex;
  margin: auto;
  width: 100%;
}
.skills11{
  width: 20%;
  margin: auto;
  margin-right: 30px;
}
.skills12{
  width: 20%;
  margin: auto;
  margin-left: 30px;
}
.x{
  width: 100%;
  margin: auto;
}
.y{
  width: 96%;
  margin: auto;
  padding: 2%;
}

.containerbar {
  background-color: rgb(210, 226, 255);
  width: 100%;
  border: none;
  border-radius: 25px;
}
.skillx {
  background-color: #3c6bc9;
  color: white;
  padding: 2%;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
}
.htmlbar{
    width: 80%;
}
.cppbar{
    width: 75%;
}
.cbar{
    width: 75%; 
}
.cssbar{
    width: 75%;
}
.reactbar{
  width: 40%;
}
.tailwindbar{
    width: 50%;
}
.javascriptbar{
    width: 50%;
}






.Project-Suggestion {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #e6eefd;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 8px;
}
.button6 {
  background-color: #0e4ecf;
  border: 2px solid #0e4ecf;
  color: white;
  border-radius: 25px;
  padding: 13px;
  width: 11%;
  margin: 6px;
}
.button6:hover {
  color: #0e4ecf;
  background-color: #e6eefd;
}




















@media (max-width: 750px) {
  .nav1{
    width: 60%;
  }
  .nav3{
    width: 100%;
    align-items: center;
    display: none;   
    /* now at this it is commented  */
    background-color: #112753;
    flex-direction: column;
    margin: 0;
  }
  .project1{
    margin: auto;
    display: flex;
    width: 70%;
    flex-direction: column;
  }
  .projects11{
    width: 100%;
    margin: auto;
  }
  .projects12{
    width: 100%;
    margin: auto;
  }
  .projectbox{
    width: 50%;

  }
  .projects11,.projects12{
  
    margin: auto;
  }



  .home a{
    color: white;
    display: flex;
 



  }
 
  .button6{
    padding: 12px;
    width: 30%;
  }
}







  @media (max-width: 800px){
    .about{
      /* margin: 10px; */
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 0px;
    }
    .imgpic2{
      display: none;
    }
    .about2{
        align-items: right;
        width: 100%;
        background-color: #D8E5FE;
        margin-top: 0;
        padding: 70px 0px;
        padding-left: 70px;
        justify-content: center;
        border-radius: 0;
      }
      div .about2{
        background-color: #e6eefd;
      }
    .contacts{
      display: flex;
      flex-direction: column;
      font-size: ;
  
    }
    .contacts .contacts1 {
      width: 100%;
      margin-bottom: 40px;
    }
    .contacts .contacts2{
      width: 100%;
    }

    .container1{
      display: flex;
      padding-top: 20px;
      flex-direction: column;
    }
    .container1 .container11{
      margin: auto;
      width: 40%;
    }
    .container12{
      margin: auto;
      width: 80%;
    }
    .skills1{
      display: flex;
      margin-top: 0;
      flex-direction: column;
      width: 100%;
    }
    .skills11{
      width: 70%;
      margin: auto;
    }
    .skills12{
      width: 70%;
      margin: auto;
    }
    div.main1{
      width: 100%;
      padding: 0;
      margin: 0;

    }
    div.main12{
      width: 93%;
      padding: 5%;
      margin: 2%;
    }
    .navbar{
      width: fit-content;
      margin: 30px 20px 0 0;
    }
    
}

@media (max-width:750px) {
  .nav3 i {
    display: none;
    float: right;
  }
  .navbar{
    width: fit-content;
    /* margin: 50px 20px 0 0; */
  }
  
}
@media(max-width:1606px){
  .contacts2{
    width: 40%;
  }
  .navbar{
    width: fit-content;
    margin: 8px 40px 0 0;
  }
}
@media(max-width:1287px){
  .box{
    width: 50%;
  }
  button .box{
    width: 20%;
  }
}
@media(max-width:1130px){
  .btn{
    width: 40%;
  }

}

@media (max-width:600px){
  .navbar{
    margin: 40px 20px 0 0;
  }
}



















.contacts {
  width: 100%;
  background-color: #e6eefd;
  /* display: inline-block; */
  padding: 30px 0px 30px 0px;
  display: flex;
}

.contacts1 {
  display: inline-block;
  width: 25%;
  background-color: #e6eefd;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  border: none;
  /* word-wrap: 5px; */
  margin: auto;
  text-align: center;
}

.contacts2 {
  width: 25%;
  background-color: rgb(216, 229, 254);
  border-radius: 25px;
  color: #000000;
  cursor: pointer;
  border: none;
  margin: auto;
  padding: 20px 0px;
  text-align: center;
}
form {
  margin: 20px;
}
.social-media2 {
  list-style-type: none;
  display: flex;
  margin: auto;
  width: 40%;
}
.social-media2 div {
  margin: auto;
}

.user-box {
  border-radius: 25px;
  background-color: #e6eefd;
  padding: 13px;/* 4% */
  margin: 0px;
  border-color: #2d5cc3;
  border: 2px solid #2d5cc3;
}
.button7 {
  border-radius: 25px;
  padding: 13px;
  width: 65%;
  border: none;
  border: 2px solid #2d5cc3;
  background-color: #2d5cc3;
  color: #e6eefd;
  margin: 0px;
}
.user-box:hover {
  /* border: none; */
  border-color: #e6eefd; /* this is used to remove the fluctuation during hover */
}
.button7:hover {
  color: #2d5cc3;
  background-color: #e6eefd;
}

/* up arrow  */

/* footer */




.footer {
  background-color: #e6eefd;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer p {
  font-size: 13px;
}






.electonics_project_master{
  padding: 30px;
  background-color: #e6eefd;
  height: fit-content;
  
}
.main12 h2{
  background-color: #e6eefd;
  padding: 20px;
  border-radius: 50px;
}
.heading{
  text-align: center;
  background-color: #e6eefd;
}
.main1{
  background-color:#e6eefd  ;
  width: 80%;
  /* display: flex; */
  /* padding: ; */
  height: fit-content;
  border-radius: 20px;
  margin: auto ;
  
}
.main12{
  width: 94%;
  padding: 3%;
  margin: 1%;
  border-radius: 20px;
  height: fit-content;
  background-color: #D8E5FE;
  width: 96%;
  padding: 3%;
  align-content: center;
  margin: 1% 2% 5% 2% ;
  border-radius: 20px;
  height: fit-content;
  background-color: #D8E5FE;
}
.main12_text{
  /* background-color: #3c6bc9; */
  /* border-radius: 20px; */
  width: 90%;
  color: #000000;
  margin: 0 0 0 5%;
  width: 90%;
  margin: 0 0 0 5%;
  /* padding: ; */
  background-color: #e6eefd;
  border-radius: 40px;
  color: #000000;
  
}

.main12_link{
  /* border: 2px solid #3c6bc9; */
  background-color: #0e4ecf;
  margin: 0 0 0 5%;
  border-radius: 200px;
  width: 50%;
  align-items: center;
  padding: 1.2% 1.2% 1.2% 3%;
  /* border: 2px solid #3c6bc9; */
  background-color: #0e4ecf;
  margin: 0 0 0 5%;
  border-radius: 200px;
  width: 50%;
  align-items: center;
  padding: 1.2% 1.2% 1.2% 3%;
  color: white;
  color: white;
}
.main12_link a{
  color: white;
}
.main12_description{
  /* background-color: #3c6bc9; */
  text-align: left;
  color: black;
  width: 88%;
  height: fit-content;
  border-radius: 20px;
  margin: auto;
  /* margin: 4%; */
  padding: 3% 0;  
} 
.carousel-inner{
  background-color: #e6eefd;
  padding: 30px;
}
.carousel-indicators{
  margin: 0;
}
